.ms-auto{
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.bg-body-tertiary{

    background-color: black;
    color: aliceblue;
}

#sizee{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 900;
}


