#pricing-design{
    text-decoration: underline;
    padding-top: 60px;
    color: #37517e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#row2-design{
    padding-top: 70px;
}

#para-centre-design{
    text-align: center;
}


#card-tittle-design{
    font-weight: 600;
    color: #37517e;
    margin-bottom: 15px;
}

#heading4-design{
    font-size: 30px;
    color: #47b2e4;
    font-weight: 200;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span{
    font-size: 18px;
    color: color-mix(in srgb,  #444 , transparent 50%);
}

#list-designnnn{
    padding-top: 15px;
    line-height: 30px;
    color: color-mix(in srgb, #444 , transparent 20%);
}

#line-through{
    text-decoration: line-through;
}

#button-design{
    width: 134px;
    border-left: 50%;
    border-right: 50%;
    margin-left: 17px;

}



#fluid-design{
    height: 100%;
    margin-top: 100px;
    margin-bottom: 30px;
}

#img1-designnnn{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 160px;
    margin-left: 46%;
    

}

#carousel-design{
    height: 100%;
    
}

#heading3-design{
    font-size: 20px;
    color: #37517e;
    font-weight: bold;
    margin-bottom: -2px;
   
   
}

#carousel-para-designnnnn{
    font-style: italic;
}


#para-centre-design-2{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    color: #444;
   margin-bottom: 100px;
   
}
#Frequently-Asked-Questions-container{
    background-color: #f5f6f8;
    padding: 30px;

}

#header-design{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #37517e;
}

#accordion-row{
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

#header-design:hover{
    color: #47b2e4;
}





